/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --text: #333;
  --background: linear-gradient(
    180deg,
    rgb(50, 135, 17) 0%,
    rgba(47, 225, 27, 0.779) 100%
  );
  --background-container: #fafafa;
  --button: rgb(255, 117, 38);
  --hover: rgb(0, 0, 0);
  --text-on-btn: #fafafa;
}

body {
  margin: 0;
  color: var(--text);
}

a {
  color: var(--text);
  text-decoration: none;
  transition: all 0.5s ease;
  scale: 1;
}

a:hover {
  scale: 0.95;
  transition: all 0.5s ease;
}

button {
  background: var(--button);
  color: var(--text-on-btn);
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  min-width: 130px;
  min-height: 40px;
  font-size: normal;
  scale: 1;
  transition: all 0.5s ease;
}

button:hover {
  scale: 0.95;
  transition: all 0.5s ease;
}

input {
  padding: 16px;
  border-radius: 16px;
  max-width: 200px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-size: larger;
  transition: all 0.5s ease;
  color: var(--text);
}

input[type="submit"] {
  background: var(--button);
  color: var(--text-on-btn);
  font-weight: bold;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  min-width: 130px;
  min-height: 40px;
  font-size: normal;
  scale: 1;
  transition: all 0.5s ease;
}

input[type="submit"]:hover {
  scale: 0.95;
  transition: all 0.5s ease;
}

label {
  font-weight: bold;
  font-size: large;
}

input[type="radio"] {
  position: relative;
  margin: 0.5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  background: var(--background);
}

.register-form {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  background-color: var(--background-container);
  padding: 4rem;
  border-radius: 20px;
}

.row {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-top: 15px;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container > div {
  font-weight: normal;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M201.4 374.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 306.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
}

table {
  min-width: 1400px;
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

tbody > tr > td:last-child {
  text-align: center;
  display: flex;
  gap: 10px;
}

.reg-btn {
  width: 140px;
  height: 40px;
  margin: auto;
  background-color: #4caf50;
  color: var(--text-on-btn);
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-size: normal;
  scale: 1;
  transition: all 0.5s ease;
}

.reg-btn:hover {
  scale: 0.95;
  transition: all 0.5s ease;
}

.del-btn {
  width: 140px;
  height: 40px;
  background-color: #f44336cd;
  color: var(--text-on-btn);
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-size: normal;
  scale: 1;
  transition: all 0.5s ease;
}

.edit-btn {
  width: 140px;
  height: 40px;
  background-color: #2196f3;
  color: var(--text-on-btn);
  font-weight: bold;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 8px;
  font-size: normal;
  scale: 1;
  transition: all 0.5s ease;
}

.edit-box {
  display: flex;
  flex-direction: column;
  max-width: 650px;
  background-color: var(--background-container);
  padding: 4rem;
  border-radius: 20px;
}
